.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.small-card {
    width: 500px; 
    min-height: 400px;
}
.headings-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    gap: 130px; 
}

.container {
    text-align: center;
    min-height: 350px;
    position: relative;
}

.child-container{
    height: auto;
}
.btn-container {
    padding-top: 10px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    gap: 210px; 
}

